{
    "openapi": "3.1.0",
    "info": {
        "title": "Layer REST API",
        "description": "REST API for AI-powered game asset creation on the Layer platform.\n\n## Authentication\n\nAll endpoints require a Bearer token in the `Authorization` header:\n\n```\nAuthorization: Bearer <token>\n```\n\n### Personal Access Tokens (recommended)\n\nThe simplest way to authenticate is with a Personal Access Token (PAT):\n\n1. Log in to [app.layer.ai](https://app.layer.ai)\n2. Go to **Settings > Personal Access Tokens**\n3. Click **Create Token**, give it a name, and copy the token value\n4. Pass it as `Authorization: Bearer <your-pat-token>`\n\nPATs are long-lived and ideal for scripts, CI pipelines, and partner integrations.\n\n### OAuth2 (browser-based)\n\nFor browser-based applications, use the Auth0 OAuth2 flow. Redirect users to\nthe Layer login page, exchange the authorization code for a JWT access token,\nand use it as `Authorization: Bearer <jwt>`.\n\n## Creative Units\n\nGenerations consume Creative Units (CUs). Use the estimate endpoints to check\ncost before executing. Check workspace balance via `GET /v1/workspaces/{id}`.\n\n## Pagination\n\nList endpoints support cursor-based pagination via `limit` and `cursor` query\nparameters. Responses include a `pagination` object with `next_cursor`,\n`has_more_results`, and `total_count`. Cursors are opaque \u2014 do not parse or\nconstruct them.\n\n## Errors\n\nAll errors return [RFC 7807 Problem Details](https://tools.ietf.org/html/rfc7807):\n\n```json\n{\n  \"type\": \"https://api.layer.ai/errors/ERROR_CODE\",\n  \"title\": \"Human-readable title\",\n  \"status\": 404,\n  \"detail\": \"Detailed description of what went wrong.\"\n}\n```\n\nCommon status codes: `401` (unauthenticated), `402` (insufficient balance),\n`403` (forbidden), `404` (not found), `422` (invalid input), `429` (rate limited).\n",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.app.layer.ai/api",
            "description": "Production"
        },
        {
            "url": "/backend/rest",
            "description": "Local development"
        }
    ],
    "paths": {
        "/v1/workspaces": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "List workspaces",
                "description": "List all workspaces the authenticated user belongs to, with Creative Units balance details.",
                "operationId": "listWorkspaces",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListWorkspacesOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "type": "object",
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ]
            }
        },
        "/v1/workspaces/{workspace_id}": {
            "get": {
                "tags": [
                    "Workspaces"
                ],
                "summary": "Get workspace",
                "description": "Get details for a single workspace including Creative Units balance.",
                "operationId": "getWorkspace",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceInfo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/models": {
            "get": {
                "tags": [
                    "Models"
                ],
                "summary": "List models",
                "description": "List available AI models in a workspace with optional filtering by modality, capabilities, and text search.",
                "operationId": "listModels",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "modality",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "enum": [
                                        "image",
                                        "video",
                                        "three_d",
                                        "audio"
                                    ],
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Filter by modality",
                            "title": "Modality"
                        },
                        "description": "Filter by modality"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Full-text search on model name/description",
                            "title": "Search"
                        },
                        "description": "Full-text search on model name/description"
                    },
                    {
                        "name": "supports_reference_images",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require reference image support",
                            "title": "Supports Reference Images"
                        },
                        "description": "Require reference image support"
                    },
                    {
                        "name": "inpainting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require inpainting support",
                            "title": "Inpainting"
                        },
                        "description": "Require inpainting support"
                    },
                    {
                        "name": "outpainting",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require outpainting support",
                            "title": "Outpainting"
                        },
                        "description": "Require outpainting support"
                    },
                    {
                        "name": "generate_audio",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require audio generation with video",
                            "title": "Generate Audio"
                        },
                        "description": "Require audio generation with video"
                    },
                    {
                        "name": "text_to_3d",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require text-to-3D",
                            "title": "Text To 3D"
                        },
                        "description": "Require text-to-3D"
                    },
                    {
                        "name": "image_to_3d",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require image-to-3D",
                            "title": "Image To 3D"
                        },
                        "description": "Require image-to-3D"
                    },
                    {
                        "name": "text_to_speech",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require text-to-speech",
                            "title": "Text To Speech"
                        },
                        "description": "Require text-to-speech"
                    },
                    {
                        "name": "sound_effect",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "boolean"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Require sound effect generation",
                            "title": "Sound Effect"
                        },
                        "description": "Require sound effect generation"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 20,
                            "title": "Limit"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListModelsOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/models/{model_id}": {
            "get": {
                "tags": [
                    "Models"
                ],
                "summary": "Get model",
                "description": "Get full details for a specific model including capabilities, timing, pricing, and prompt format.",
                "operationId": "getModel",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "model_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Model Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetModelRESTOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/workflows": {
            "get": {
                "tags": [
                    "Workflows"
                ],
                "summary": "List workflows",
                "description": "List available generation workflows (published blueprints) in a workspace.",
                "operationId": "listWorkflows",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "Full-text search on workflow name/description",
                            "title": "Search"
                        },
                        "description": "Full-text search on workflow name/description"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "default": 20,
                            "title": "Limit"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "title": "Cursor"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListWorkflowsOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/workflows/{workflow_id}/estimate": {
            "post": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Estimate workflow price",
                "description": "Estimate the Creative Units cost of running a workflow with given inputs.",
                "operationId": "estimateWorkflowPrice",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workflow Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EstimateWorkflowPriceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EstimateWorkflowPriceOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/workflows/{workflow_id}/runs": {
            "post": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Execute workflow",
                "description": "Start a workflow execution. Returns immediately with a run ID. Poll with GET /workflows/{workflow_id}/runs/{run_id} for results.",
                "operationId": "executeWorkflow",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workflow Id"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExecuteWorkflowRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExecuteWorkflowOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden \u2014 insufficient permissions.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid input parameters.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limited \u2014 too many concurrent requests.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "title",
                                        "status",
                                        "detail"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/workspaces/{workspace_id}/workflows/{workflow_id}/runs/{run_id}": {
            "get": {
                "tags": [
                    "Workflows"
                ],
                "summary": "Get workflow run",
                "description": "Get the status and results of a workflow run.",
                "operationId": "getWorkflowRun",
                "security": [
                    {
                        "HTTPBearer": []
                    }
                ],
                "parameters": [
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workspace Id"
                        }
                    },
                    {
                        "name": "workflow_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Workflow Id"
                        }
                    },
                    {
                        "name": "run_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid",
                            "title": "Run Id"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetWorkflowRunOutput"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated \u2014 missing or invalid Bearer token.",
                        "content": {
                            "application/problem+json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "example": "https://api.layer.ai/errors/ERROR_CODE"
                                        },
                                        "title": {
                                            "type": "string",
                                            "example": "Error Title"
                                        },
                                        "status": {
                                            "type": "integer",
                                            "example": 400
                                        },
                                        "detail": {
                                            "type": "string",
                                            "example": "Human-readable description."
                                        }
[...]
